body{
  font-family: Arial, Sans-Serif;
}

.container{
  width: 600px;
  margin: 60px auto 0px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.list{
  width: 250px;
  height: 100px;
  font-size: 16px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
  overflow: auto;
  list-style: none;
  padding: 6px;
}

.list p{
  margin: 0;
}

.list li{
  margin: 0;
  cursor: move;
}

.main-list{
  margin-right: 80px;
}
